.card {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background: rgb(32, 35, 41);
  color: rgb(255, 152, 0);
  height: 100%;
  cursor: pointer;
}

.card img {
  width: 150px;
  height: 100%;
  object-fit: cover;
}

.card div {
  padding: 15px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  text-align: left;
}

.card h2 {
  margin: 0;
  font-size: 1.2em;
}

.card p {
  margin: 0;
  color: #b4b2b2;
}

.firstSeen:hover {
  color: #747bff;
  font-weight: 600;
}
